* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(241, 241, 241);
}

.container {
  width: 120rem;
  margin: auto;
}

h2,
h3 {
  text-align: center;
  padding-block: 2rem;
  color: rgb(80, 170, 0);
}

a:hover {
  text-decoration: underline;
}

strong {
  color: rgb(80, 170, 0);
}

header {
  background-color: rgb(80, 170, 0);
  color: rgb(241, 241, 241);
  padding-block: 2rem;
  text-align: center;
}

header nav ul {
  margin-top: 1rem;
  font-size: 1.8rem;
}

header nav ul li {
  margin-left: 2rem;
  display: inline;
}

header nav ul li:hover {
  text-decoration: underline;
}

main .container {
  display: flex;
  gap: 2rem;
}

main article,
main aside {
  padding: 2rem;
  background: white;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
}

main article {
  width: 60%;
}

main aside {
  text-align: center;
  padding-bottom: 10rem;
  height: fit-content;
}

main p {
  margin-block: 2rem;
  text-align: justify;
}

main ul {
  padding-left: 2rem;
}

main ul li {
  margin-block: 1rem;
}

main img {
  border-radius: 1rem;
  display: block;
  margin: auto;
  width: 75%;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.25);
}
