h1, p {
  text-align: center;
}

ol, ul {
  list-style: none;
  text-align: center;
}

ol li:hover {
  transition: .2s;
  background-color: coral;
}

ol li:active {
  font-family: Arial, Helvetica, sans-serif;
}